# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# Build output
# =====================
dist/
dist-ssr/
build/

# =====================
# Environment
# =====================
.env
.env.*.local

# =====================
# Coverage / Test
# =====================
coverage/
__screenshots__/
.vitest/

# =====================
# Cache
# =====================
.eslintcache
*.tsbuildinfo
.cache/

# =====================
# OS
# =====================
.DS_Store

# =====================
# IDE / Editor config
# =====================
.vscode/

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# Personal config files
# =====================
.editorconfig
.prettierrc.json
.prettierrc
.eslintcache
.stylelintrc*